.header {
    max-width: 1200px;
    margin: 0 auto;
    background: none;
    padding: 0 40px;

    &__logo {
        font-weight: 200;
        cursor: pointer;
    }

    &__spacer {
        flex: 1 1 auto;
    }
}
