.cart-item {
    display: flex;
    min-width: 280px;

    &__image {
        height: 100px;
        object-fit: contain;
        padding: 0 10px;
        width: 100px;
    }

    &__info {
        width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__name,
    &__qty {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
    }

    &__qty {
        font-size: 14px;
    }

    &__price {
        font-size: 14px;
        font-weight: 200;
        margin: 0;
    }

    &__remove-btn-wrapper {
        display: flex;
        align-items: center;

        mat-icon {
            font-weight: 200;
            color: #434343;
        }
    }
}
