.cart-item {
    display: flex;
    margin: 10px;
    min-width: 280px;

    &__image {
        height: 100px;
        object-fit: contain;
        padding: 0 10px;
        width: 100px;
    }

    &__name {
        font-size: 16px;
        font-weight: 200;
        margin: 0;
    }

    &__price {
        color: #434343;
        font-weight: 400;
        margin: 0;
    }
}
