<mat-card class="product mat-elevation-z">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-icon class="product__availability" [ngClass]="{'product__availability--unavailable': !product.isAvailable}">stop_circle</mat-icon>
  </mat-card-header>

  <img mat-card-image src="{{'assets/images/' + product.img}}">

  <mat-card-actions>
    <button class="product__buy-btn" *ngIf="product.isAvailable" mat-button color="primary" (click)="onBuyProduct(product)">BUY</button>
    <p class="product__price">{{ product.price | currency: 'UAH':'symbol-narrow':'1.0-2' }}</p>
  </mat-card-actions>
</mat-card>
